# Explore PS Data

In [1]:
import pandas as pd
import datetime as dt
from datetime import date

today = date.today()
week_ago = today - dt.timedelta(days=7)


filepath = "/Users/leonahammelrath/FU_Psychoinformatik/Github/tiki_code/data/export_120923.csv"

In [2]:
df = pd.read_csv(filepath, encoding= "latin-1")

In [3]:
df.head()

,Endkunde,Quelle,Tag,Created At,Typ,Wert(Fließkommazahl),Wert(Ganzzahl)
0,0ePWrIxtQgm9abdP@tiki.com,Nokia,04.07.2023,05.07.2023 21:00:55,Steps,NaN,15691.0
1,0ePWrIxtQgm9abdP@tiki.com,Nokia,04.07.2023,05.07.2023 21:00:55,CoveredDistance,"11.180,239",NaN
2,0ePWrIxtQgm9abdP@tiki.com,Nokia,04.07.2023,05.07.2023 21:00:55,ElevationGain,"73,36",NaN
3,0ePWrIxtQgm9abdP@tiki.com,Nokia,04.07.2023,05.07.2023 21:00:55,ActivityLowDuration,NaN,193.0
4,0ePWrIxtQgm9abdP@tiki.com,Nokia,04.07.2023,05.07.2023 21:00:55,BurnedCalories,NaN,1901.0

In [4]:
df.drop(["Quelle", "Created At"], axis=1, inplace=True)

In [5]:
df["Endkunde"] = df.Endkunde.str.split("@").str.get(0)
df["Endkunde"] = df["Endkunde"].str[:4]
df.rename(columns={"Endkunde":"customer","Tag":"day", "Typ":"type","Wert(Fließkommazahl)": "float", "Wert(Ganzzahl)": "int"}, inplace=True)

In [6]:
df["day"] = pd.to_datetime(df["day"], format="%d.%m.%Y")

In [7]:
df["int"].fillna(df["float"], inplace=True)

In [8]:
df_int= df[["customer", "day", "type", "int"]]

In [9]:
df_int

      customer        day                          type         int
0         0ePW 2023-07-04                         Steps     15691.0
1         0ePW 2023-07-04               CoveredDistance  11.180,239
2         0ePW 2023-07-04                 ElevationGain       73,36
3         0ePW 2023-07-04           ActivityLowDuration       193.0
4         0ePW 2023-07-04                BurnedCalories      1901.0
...        ...        ...                           ...         ...
54746     xYHr 2023-08-14  HeartRateZoneIntenseDuration        90.0
54747     xYHr 2023-08-14  HeartRateZoneMaximalDuration        19.0
54748     xYHr 2023-08-14              ActivityDuration       160.0
54749     xYHr 2023-08-14                ActiveDuration        91.0
54750     xYHr 2023-08-14                 FloorsClimbed         7.0

[54751 rows x 4 columns]

In [10]:
df_int = df_int.pivot(
    index=["customer", "day"],
    columns="type",
    values="int")