# Check Data Compliance

In [1]:
import pandas as pd
import datetime as dt
from datetime import date

today = date.today() 
week_ago = today - dt.timedelta(days=7)
today = today.strftime("%d%m%Y")

week_ago = week_ago.strftime("%Y-%m-%d")

datapath = "/Users/leonahammelrath/FU_Psychoinformatik/Github/tiki_code/data/"
filepath = datapath + f"export_{today}.csv"

In [2]:
df = pd.read_csv(filepath, encoding= "latin-1")

In [3]:
df.drop(["Quelle", "Created At"], axis=1, inplace=True)

In [4]:
df["Endkunde"] = df.Endkunde.str.split("@").str.get(0)
df["Endkunde"] = df["Endkunde"].str[:4]
df.rename(columns={"Endkunde":"customer","Tag":"day", "Typ":"type","Wert(Flie√ükommazahl)": "float", "Wert(Ganzzahl)": "int"}, inplace=True)

In [5]:
df["day"] = pd.to_datetime(df["day"], format="%d.%m.%Y")

In [6]:
df["int"].fillna(df["float"], inplace=True)

In [7]:
df_int= df[["customer", "day", "type", "int"]]

In [8]:
df_int = df_int.pivot(
    index=["customer", "day"],
    columns="type",
    values="int")

In [9]:
df_int.reset_index(level="day", inplace=True)

In [10]:
df_active = pd.read_csv("/Users/leonahammelrath/FU_Psychoinformatik/Github/tiki_code/data/active_participants.csv")

In [11]:
df_active.rename(columns = {"Pseudonym ": "customer", "EMA ID": "ema_id", "Ende EMA Baseline": "end_ema", "Status": "status",
                            "Start EMA Baseline": "start_ema", "Studienversion":"study_version", "FOR_ID":"for_id"}, inplace=True)

In [12]:
df_active["customer"] = df_active["customer"].str[:4]

In [13]:
df_active = df_active[["customer", "ema_id", "end_ema", "start_ema", "study_version", "for_id", "status"]]

In [14]:
df_active.groupby("status").count()

                  customer  ema_id  end_ema  start_ema  study_version  for_id
status
Abgeschlossen           15      15       15         15             15      15
Dropout                  4       4        4          4              4       4
Erhebung_1_aktiv         8       8        8          8              8       8
Post_Erhebung_1         44      44       44         44             44      44

In [15]:
filepath_connection = f"/Users/leonahammelrath/FU_Psychoinformatik/Github/tiki_code/data/export_connection_{today}.csv"
df_con = pd.read_csv(filepath_connection, encoding= "latin-1")
df_con["Customer"] = df_con.Customer.str.split("@").str.get(0)
df_con["Customer"] = df_con["Customer"].str[:4]
df_con.drop(["Data Source", "Timestamp"], axis=1, inplace=True)
df_con.rename(columns = {"Customer": "customer"}, inplace=True)

In [16]:
df_complete = pd.merge(df_int, df_active, on="customer")

In [17]:
df_complete = pd.merge(df_complete, df_con, on="customer")

In [18]:
grouped = df_complete.groupby(["customer"])["ema_id","for_id","start_ema","end_ema","study_version",
                                            "status","Is Connected","day"].max()

/Users/leonahammelrath/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [19]:
grouped_count = df_complete.groupby(["customer"])[["day"]].count()
grouped_count.rename(columns={"day": "nr_days"}, inplace= True)
grouped = pd.merge(grouped, grouped_count, how= "left", on="customer")
grouped

,ema_id,for_id,start_ema,end_ema,study_version,status,Is Connected,day,nr_days
customer,,,,,,,,,
0ePW,EMA4006,FOR14007,03.07.2023,17.07.2023,Lang,Post_Erhebung_1,ja,2023-09-21,80
0xWn,EMA2004,FOR12003,27.07.2023,10.08.2023,Lang,Post_Erhebung_1,ja,2023-10-02,67
1rfO,EMA3006,FOR13002,27.06.2023,11.07.2023,Lang (Wechsel),Post_Erhebung_1,ja,2023-07-05,8
3ZqH,EMA3002,FOR13901\n,20.06.2023,04.07.2023,Kurz,Abgeschlossen,ja,2023-07-09,19
3s90,EMA3004,FOR13001,27.06.2023,11.07.2023,Kurz,Abgeschlossen,nein,2023-06-28,2
...,...,...,...,...,...,...,...,...,...
uP59,EMA4036,FOR14027,27.09.2023,11.10.2023,Lang,Erhebung_1_aktiv,ja,2023-10-02,5
vPEr,EMA4010,FOR14013,10.08.2023,24.08.2023,Kurz,Abgeschlossen,ja,2023-09-29,47
wGQ8,EMA1005,FOR11012,21.06.2023,05.07.2023,Lang (Wechsel),Post_Erhebung_1,ja,2023-09-07,60
xwB7,EMA4011,FOR14012,20.07.2023,03.08.2023,Kurz,Dropout,ja,2023-07-24,4
yv0Q,EMA3016,FOR13012,19.09.2023,03.10.2023,Lang,Erhebung_1_aktiv,nein,2023-09-25,12

In [20]:
grouped.groupby("status")["ema_id"].count()

status
Abgeschlossen       15
Dropout              3
Erhebung_1_aktiv     7
Post_Erhebung_1     44
Name: ema_id, dtype: int64

In [21]:
grouped_active = grouped[~(grouped['status'] == "Abgeschlossen")]
grouped_active = grouped_active[~(grouped_active['status'] == "Dropout")]

## GPS Data

In [22]:
datapath1 = datapath + f"export_tiki_{today}/"
filepath_1 = datapath1 + "epoch_part0001.csv"
filepath_2 = datapath1 + "epoch_part0002.csv"
filepath_3 = datapath1 + "epoch_part0003.csv"

In [23]:
df_1 = pd.read_csv(filepath_1, encoding= "latin-1")
df_2 = pd.read_csv(filepath_2, encoding= "latin-1")
df_3 = pd.read_csv(filepath_3, encoding= "latin-1")

/Users/leonahammelrath/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [24]:
df_location_1 = df_1[df_1.type.isin(["Latitude", "Longitude"])]
df_location_2 = df_2[df_2.type.isin(["Latitude", "Longitude"])]
df_location_3 = df_3[df_3.type.isin(["Latitude", "Longitude"])]

In [25]:
df_loc_complete = pd.concat([df_location_1, df_location_2, df_location_3])
df_loc_complete = df_loc_complete[["customer", "startTimestamp", "type", "doubleValue", 
                           "timezoneOffset"]]
df_loc_complete["customer"] = df_loc_complete.customer.str.split("@").str.get(0)
df_loc_complete["customer"] = df_loc_complete.customer.str[:4]

In [26]:
df_merged = pd.merge(df_loc_complete, grouped_active, on="customer")
df_merged["startTimestamp"] = (pd.to_datetime(df_merged["startTimestamp"],unit='ms'))
#df_merged_active = df_merged[~(df_merged['status'].isin(["Abgeschlossen", "Dropout"]))]

In [27]:
df_merged_active= df_merged.groupby("customer")[["ema_id","for_id","day","study_version","status","startTimestamp"]].max()

In [28]:
df_merged_active

,ema_id,for_id,day,study_version,status,startTimestamp
customer,,,,,,
0ePW,EMA4006,FOR14007,2023-09-21,Lang,Post_Erhebung_1,2023-10-01 23:46:46
0xWn,EMA2004,FOR12003,2023-10-02,Lang,Post_Erhebung_1,2023-09-30 22:47:15
1rfO,EMA3006,FOR13002,2023-07-05,Lang (Wechsel),Post_Erhebung_1,2023-10-01 19:55:31
4HX0,EMA1015,FOR11024,2023-09-29,Lang,Post_Erhebung_1,2023-09-26 12:30:49
5BAw,EMA4032,FOR14025,2023-10-02,Lang,Erhebung_1_aktiv,2023-10-01 19:31:55
5Ger,EMA1020,FOR11036,2023-10-01,Kurz,Erhebung_1_aktiv,2023-10-01 14:02:50
5MyR,EMA4026,FOR14022,2023-10-02,Lang,Post_Erhebung_1,2023-10-01 18:29:53
7uRT,EMA4030,FOR14024,2023-10-01,Lang,Erhebung_1_aktiv,2023-09-22 20:58:55
94FE,EMA2002,FOR12901,2023-10-02,Lang,Post_Erhebung_1,2023-10-01 14:28:14
AG7S,EMA1014,FOR11022,2023-10-02,Lang,Post_Erhebung_1,2023-09-28 13:48:39
BdSf,EMA2001,FOR12902,2023-10-02,Lang,Post_Erhebung_1,2023-10-01 22:18:04
CySo,EMA4012,FOR14014,2023-09-28,Lang,Post_Erhebung_1,2023-09-26 12:47:10
D2mZ,EMA1019,FOR11030,2023-10-02,Lang,Post_Erhebung_1,2023-10-01 21:43:19
GjiG,EMA2009,FOR12005,2023-10-01,Lang,Post_Erhebung_1,2023-10-01 15:40:09
JIhV,EMA1009,FOR11019,2023-10-02,Lang (Wechsel),Post_Erhebung_1,2023-10-01 19:33:40
K0go,EMA1012,FOR11016,2023-09-19,Lang,Post_Erhebung_1,2023-09-19 06:17:59
L9hp,EMA3014,FOR13010,2023-10-01,Lang,Post_Erhebung_1,2023-09-24 08:07:24
MDgC,EMA4020,FOR14019,2023-10-02,Lang,Post_Erhebung_1,2023-09-30 16:02:25
MJFT,EMA4004,FOR14005,2023-10-02,Lang,Post_Erhebung_1,2023-10-01 18:39:38
MYAi,EMA4028,FOR14023,2023-10-02,Lang,Post_Erhebung_1,2023-10-01 21:04:25
Mkds,EMA4013,FOR14016,2023-10-01,Lang (Wechsel),Post_Erhebung_1,2023-09-29 09:15:06
Snml,EMA4034,FOR14026,2023-10-02,Lang,Erhebung_1_aktiv,2023-10-01 15:23:19
asYV,EMA1008,FOR11011,2023-09-22,Lang,Post_Erhebung_1,2023-09-05 07:14:38
dT0F,EMA3003,FOR13008,2023-10-01,Lang,Post_Erhebung_1,2023-09-30 17:49:22
dZYU,EMA4008,FOR14010,2023-09-30,Lang,Post_Erhebung_1,2023-10-01 16:36:41
f1J2,EMA4018,FOR14017,2023-10-02,Lang,Post_Erhebung_1,2023-10-01 16:07:16
fjGD,EMA3007,FOR13011,2023-10-02,Lang,Post_Erhebung_1,2023-09-30 08:31:34
gfo4,EMA4003,FOR14002,2023-09-27,Lang (Wechsel),Post_Erhebung_1,2023-10-01 10:17:34
hIhW,EMA2008,FOR12008,2023-10-02,Lang,Post_Erhebung_1,2023-09-23 18:46:15
kH1x,EMA4002,FOR14003,2023-09-13,Lang,Post_Erhebung_1,2023-09-30 15:01:30
kVhY,EMA1003,FOR11001,2023-09-27,Lang,Post_Erhebung_1,2023-06-01 10:50:00
lLs0,EMA4014,FOR14015,2023-09-30,Lang,Post_Erhebung_1,2023-09-25 16:18:43
lg1t,EMA4038,FOR14029,2023-10-02,Lang,Erhebung_1_aktiv,2023-10-02 00:11:27
nrqZ,EMA1017,FOR11026,2023-09-27,Lang,Post_Erhebung_1,2023-10-01 09:07:14
p4A1,EMA2013,FOR12010,2023-09-30,Lang,Post_Erhebung_1,2023-09-30 14:35:48
pnfK,EMA1023,FOR11035,2023-10-02,Lang,Post_Erhebung_1,2023-09-29 16:18:04
uGoA,EMA3012,FOR13005,2023-10-02,Lang,Post_Erhebung_1,2023-08-09 08:55:01
uP59,EMA4036,FOR14027,2023-10-02,Lang,Erhebung_1_aktiv,2023-10-01 13:48:35
yv0Q,EMA3016,FOR13012,2023-09-25,Lang,Erhebung_1_aktiv,2023-09-25 00:20:40

In [29]:
df_merged_active.loc[(df_merged_active.startTimestamp < week_ago) & (df_merged_active.day < week_ago)]

,ema_id,for_id,day,study_version,status,startTimestamp
customer,,,,,,
K0go,EMA1012,FOR11016,2023-09-19,Lang,Post_Erhebung_1,2023-09-19 06:17:59
asYV,EMA1008,FOR11011,2023-09-22,Lang,Post_Erhebung_1,2023-09-05 07:14:38

In [30]:
# no gpspd
df_merged_active.loc[(df_merged_active.startTimestamp < week_ago) & (df_merged_active.day < week_ago)]["for_id"].tolist()

['FOR11016 ', 'FOR11011 ']

In [31]:
# no gps
df_merged_active.loc[(df_merged_active.startTimestamp < week_ago) & (df_merged_active.day > week_ago)]

,ema_id,for_id,day,study_version,status,startTimestamp
customer,,,,,,
7uRT,EMA4030,FOR14024,2023-10-01,Lang,Erhebung_1_aktiv,2023-09-22 20:58:55
L9hp,EMA3014,FOR13010,2023-10-01,Lang,Post_Erhebung_1,2023-09-24 08:07:24
hIhW,EMA2008,FOR12008,2023-10-02,Lang,Post_Erhebung_1,2023-09-23 18:46:15
kVhY,EMA1003,FOR11001,2023-09-27,Lang,Post_Erhebung_1,2023-06-01 10:50:00
uGoA,EMA3012,FOR13005,2023-10-02,Lang,Post_Erhebung_1,2023-08-09 08:55:01

In [32]:
# no gps
df_merged_active.loc[(df_merged_active.startTimestamp < week_ago) & (df_merged_active.day > week_ago)]["for_id"].tolist()

['FOR14024 ', 'FOR13010', 'FOR12008 ', 'FOR11001', 'FOR13005']

In [33]:
# no gps
df_merged_active.loc[(df_merged_active.startTimestamp < week_ago) & (df_merged_active.day > week_ago)]["ema_id"].tolist()

['EMA4030', 'EMA3014', 'EMA2008', 'EMA1003', 'EMA3012']

In [34]:
# no pd
df_merged_active.loc[(df_merged_active.startTimestamp > week_ago) & (df_merged_active.day < week_ago)]

,ema_id,for_id,day,study_version,status,startTimestamp
customer,,,,,,
0ePW,EMA4006,FOR14007,2023-09-21,Lang,Post_Erhebung_1,2023-10-01 23:46:46
1rfO,EMA3006,FOR13002,2023-07-05,Lang (Wechsel),Post_Erhebung_1,2023-10-01 19:55:31
kH1x,EMA4002,FOR14003,2023-09-13,Lang,Post_Erhebung_1,2023-09-30 15:01:30

In [35]:
# no pd
df_merged_active.loc[(df_merged_active.startTimestamp > week_ago) & (df_merged_active.day < week_ago)]["for_id"].tolist()

['FOR14007', 'FOR13002', 'FOR14003']

## Missing data

In [36]:
list_1 = df_active.customer.tolist()
list_2 = df_complete.customer.unique().tolist()
set(list_1) - set(list_2)

{'Nuz5', 'x3TJ'}