# Explore PS Data

In [1]:
import pandas as pd
import datetime as dt
from datetime import date

today = date.today()
week_ago = today - dt.timedelta(days=7)


filepath = "/Users/leonahammelrath/FU_Psychoinformatik/Github/tiki_code/data/export_120923.csv"

In [2]:
df = pd.read_csv(filepath, encoding= "latin-1")

In [3]:
df.head()

,Endkunde,Quelle,Tag,Created At,Typ,Wert(Fließkommazahl),Wert(Ganzzahl)
0,0ePWrIxtQgm9abdP@tiki.com,Nokia,04.07.2023,05.07.2023 21:00:55,Steps,NaN,15691.0
1,0ePWrIxtQgm9abdP@tiki.com,Nokia,04.07.2023,05.07.2023 21:00:55,CoveredDistance,"11.180,239",NaN
2,0ePWrIxtQgm9abdP@tiki.com,Nokia,04.07.2023,05.07.2023 21:00:55,ElevationGain,"73,36",NaN
3,0ePWrIxtQgm9abdP@tiki.com,Nokia,04.07.2023,05.07.2023 21:00:55,ActivityLowDuration,NaN,193.0
4,0ePWrIxtQgm9abdP@tiki.com,Nokia,04.07.2023,05.07.2023 21:00:55,BurnedCalories,NaN,1901.0

In [4]:
df.drop(["Quelle", "Created At"], axis=1, inplace=True)

In [5]:
df["Endkunde"] = df.Endkunde.str.split("@").str.get(0)
df["Endkunde"] = df["Endkunde"].str[:4]
df.rename(columns={"Endkunde":"customer","Tag":"day", "Typ":"type","Wert(Fließkommazahl)": "float", "Wert(Ganzzahl)": "int"}, inplace=True)

In [6]:
df["day"] = pd.to_datetime(df["day"], format="%d.%m.%Y")

In [7]:
df["int"].fillna(df["float"], inplace=True)

In [8]:
df_int= df[["customer", "day", "type", "int"]]

In [9]:
df_int

      customer        day                          type         int
0         0ePW 2023-07-04                         Steps     15691.0
1         0ePW 2023-07-04               CoveredDistance  11.180,239
2         0ePW 2023-07-04                 ElevationGain       73,36
3         0ePW 2023-07-04           ActivityLowDuration       193.0
4         0ePW 2023-07-04                BurnedCalories      1901.0
...        ...        ...                           ...         ...
54746     xYHr 2023-08-14  HeartRateZoneIntenseDuration        90.0
54747     xYHr 2023-08-14  HeartRateZoneMaximalDuration        19.0
54748     xYHr 2023-08-14              ActivityDuration       160.0
54749     xYHr 2023-08-14                ActiveDuration        91.0
54750     xYHr 2023-08-14                 FloorsClimbed         7.0

[54751 rows x 4 columns]

In [10]:
df_int = df_int.pivot(
    index=["customer", "day"],
    columns="type",
    values="int")

In [11]:
df_int

type                ActiveDuration ActivityDuration ActivityHighDuration  \
customer day
0ePW     2023-07-04          147.0            340.0                  NaN
         2023-07-05           45.0            341.0                  NaN
         2023-07-06           65.0            345.0                  NaN
         2023-07-07           57.0            257.0                  NaN
         2023-07-08           47.0            358.0                  NaN
...                            ...              ...                  ...
xYHr     2023-08-14           91.0            160.0                 84.0
xwB7     2023-07-21           28.0            341.0                  NaN
         2023-07-22            NaN             73.0                  NaN
         2023-07-23           29.0            233.0                  NaN
         2023-07-24            NaN              NaN                  NaN

type                ActivityLowDuration ActivityMidDuration  \
customer day
0ePW     2023-07-04               193.0               147.0
         2023-07-05               296.0                45.0
         2023-07-06               280.0                65.0
         2023-07-07               200.0                57.0
         2023-07-08               311.0                47.0
...                                 ...                 ...
xYHr     2023-08-14                69.0                 7.0
xwB7     2023-07-21               313.0                28.0
         2023-07-22                73.0                 NaN
         2023-07-23               204.0                29.0
         2023-07-24                 NaN                 NaN

type                BreathingDisturbancesIntensity BurnedCalories  \
customer day
0ePW     2023-07-04                            NaN         1901.0
         2023-07-05                            NaN         1834.0
         2023-07-06                            NaN         1811.0
         2023-07-07                            NaN         1791.0
         2023-07-08                            NaN         1766.0
...                                            ...            ...
xYHr     2023-08-14                            NaN         1954.0
xwB7     2023-07-21                            NaN         1261.0
         2023-07-22                            NaN         1097.0
         2023-07-23                            NaN         1122.0
         2023-07-24                            NaN            NaN

type                CoveredDistance ElevationGain FloorsClimbed  ...  \
customer day                                                     ...
0ePW     2023-07-04      11.180,239         73,36          24.0  ...
         2023-07-05       6.897,049         69,91          23.0  ...
         2023-07-06       8.913,003         60,92          20.0  ...
         2023-07-07        5.862,73         32,36          11.0  ...
         2023-07-08       8.107,079         35,64          12.0  ...
...                             ...           ...           ...  ...
xYHr     2023-08-14        2.922,19            21           7.0  ...
xwB7     2023-07-21        5.684,75         25,97           9.0  ...
         2023-07-22          477,56           3,6           1.0  ...
         2023-07-23        4.857,61         25,18           8.0  ...
         2023-07-24             NaN           NaN           NaN  ...

type                SleepDuration SleepEfficiency SleepEndTime  \
customer day
0ePW     2023-07-04         569.0            94.0          NaN
         2023-07-05         661.0            93.0          NaN
         2023-07-06         381.0            97.0          NaN
         2023-07-07         589.0            99.0          NaN
         2023-07-08         579.0            94.0          NaN
...                           ...             ...          ...
xYHr     2023-08-14           NaN             NaN          NaN
xwB7     2023-07-21         581.0            95.0          NaN
         2023-07-22           NaN             NaN          NaN
         2023-07-23           NaN             NaN          NaN
         2023-07-24         499.0            98.0          NaN

type                SleepInBedDuration SleepIntensity SleepInterruptions  \
customer day
0ePW     2023-07-04              605.0         70,727                6.0
         2023-07-05              713.0         70,104                5.0
         2023-07-06              394.0         70,036                1.0
         2023-07-07              596.0         81,084                1.0
         2023-07-08              617.0         70,697                5.0
...                                ...            ...                ...
xYHr     2023-08-14                NaN            NaN                NaN
xwB7     2023-07-21              614.0         78,179                2.0
         2023-07-22                NaN            NaN                NaN
         2023-07-23                NaN            NaN                NaN
         2023-07-24              511.0         81,816                1.0

type                SleepLatency SleepLightDuration SleepStartTime    Steps
customer day
0ePW     2023-07-04          2.0              415.0            NaN  15691.0
         2023-07-05          2.0              474.0            NaN   9586.0
         2023-07-06          2.0              309.0            NaN  12447.0
         2023-07-07          2.0              311.0            NaN   8232.0
         2023-07-08          2.0              420.0            NaN  11477.0
...                          ...                ...            ...      ...
xYHr     2023-08-14          NaN                NaN            NaN   4810.0
xwB7     2023-07-21          2.0              297.0            NaN   8274.0
         2023-07-22          NaN                NaN            NaN    684.0
         2023-07-23          NaN                NaN            NaN   6743.0
         2023-07-24          2.0              238.0            NaN      NaN

[2429 rows x 29 columns]

In [12]:
#df_int.reset_index(level="day", inplace=True)

In [13]:
df_int.columns

Index(['ActiveDuration', 'ActivityDuration', 'ActivityHighDuration',
       'ActivityLowDuration', 'ActivityMidDuration',
       'BreathingDisturbancesIntensity', 'BurnedCalories', 'CoveredDistance',
       'ElevationGain', 'FloorsClimbed', 'HeartRate', 'HeartRateResting',
       'HeartRateZoneIntenseDuration', 'HeartRateZoneLightDuration',
       'HeartRateZoneMaximalDuration', 'HeartRateZoneModerateDuration',
       'SleepAwakeAfterWakeup', 'SleepAwakeDuration', 'SleepDeepDuration',
       'SleepDuration', 'SleepEfficiency', 'SleepEndTime',
       'SleepInBedDuration', 'SleepIntensity', 'SleepInterruptions',
       'SleepLatency', 'SleepLightDuration', 'SleepStartTime', 'Steps'],
      dtype='object', name='type')

In [21]:
df_int.groupby(["customer"])["HeartRateResting"].count().describe()

count     72.000000
mean      27.291667
std       30.996337
min        0.000000
25%        4.750000
50%       14.500000
75%       44.000000
max      146.000000
Name: HeartRateResting, dtype: float64

In [22]:
df_int.groupby(["customer"])["ActiveDuration"].count().describe()

count     72.000000
mean      30.888889
std       31.008202
min        1.000000
25%        6.750000
50%       19.000000
75%       48.750000
max      148.000000
Name: ActiveDuration, dtype: float64

In [ ]:
df_int.groupby(["customer"])["Co"].count().describe()